{% extends 'base.html' %}
{% load static %}

{% block custom_head_css %}
    <link href="{% static 'css/tables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">通讯录管理</a></li>
                <li class="breadcrumb-item active"><a href="#">添加组</a></li>
            </ol>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" class="btn btn-primary btn-sm" value="保存">
                            <input type="button" class="btn btn-danger btn-sm" onclick="javascript:history.go(-1);" value="返回">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_foot_js %}
    <script src="{% static 'js/tables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/tables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'js/tables/datatable-basic.min.js' %}"></script>
{% endblock %}