{#{% extends 'base.html' %}#}
{% load static %}

{% block custom_head_css %}
    <link  rel="stylesheet" href="{% static 'css/base/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/built/three-columns.css' %}">
{% endblock %}

{% block content %}
<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
        </ol>
    </div>
</div>
<!-- row -->

<div class="container-fluid">
    {% for data in datas %}
    <div class="row">
        <div class="col-lg-4 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="media align-items-center mb-4">
                        <img class="mr-3" src="{% static 'images/base/user/1.jpg' %}" width="80" height="80" alt="">
                        <div class="media-body">
                            <h3 class="mb-0">姓名</h3>
                            <p class="text-muted mb-0">zzxxx</p>
                        </div>
                    </div>

                    <div class="row mb-5">
                        <div class="col">
                            <div class="card card-profile text-center">
                                <span class="mb-1 text-primary"><i class="icon-people"></i></span>
                                <h3 class="mb-0">263</h3>
                                <p class="text-muted px-4">Following</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card card-profile text-center">
                                <span class="mb-1 text-warning"><i class="icon-user-follow"></i></span>
                                <h3 class="mb-0">263</h3>
                                <p class="text-muted">Followers</p>
                            </div>
                        </div>
                        <div class="col-12 text-center">
                            <button class="btn btn-danger px-5">Follow Now</button>
                        </div>
                    </div>

                    <h4>About Me</h4>
                    <p class="text-muted">Hi, I'm 哈哈, has been the industry standard dummy text ever since the 1500s.</p>
                    <ul class="card-profile__info">
{#                        <li class="mb-1"><strong class="text-dark mr-4">Mobile</strong> <span>{{ data.mobile }}</span></li>#}
{#                        <li><strong class="text-dark mr-4">Email</strong> <span>{{ data.email }}</span></li>#}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-xl-9">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">详细信息</h5>
{#                    <div class="outer">#}
{#                        <div class="box">#}
{#                            <p><span>账号 </span>: {{ data.username }}</p>#}
{#                        </div>#}
{#                        <div class="box">#}
{#                            <p><span>性别 </span>: {{ data.get_sex_display }}</p>#}
{#                        </div>#}
{#                        <div class="box">#}
{#                            <p><span>状态 </span>: {% if data.is_active == True %}启用{% else %}禁用{% endif %}</p>#}
{#                        </div>#}
{#                        <div class="box">#}
{#                            <p><span>创建时间 </span>: {{ data.date_created }}</p>#}
{#                        </div>#}
{#                    </div>#}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}

{% block custom_foot_js %}
    <script src="{% static 'js/base/common.min.js' %}"></script>
    <script src="{% static 'js/base/custom.min.js' %}"></script>
    <script src="{% static 'js/base/settings.js' %}"></script>
    <script src="{% static 'js/base/gleek.js' %}"></script>
    <script src="{% static 'js/base/styleSwitcher.js' %}"></script>
{% endblock %}