{% load static %}

{% block custom_head_css %}
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/base/favicon.png' %}">
    <link  rel="stylesheet" href="{% static 'css/base/style.css' %}">
{% endblock %}

{% block content %}
<div class="login-form-bg h-100">
    <div class="container h-100">
        <div class="row justify-content-center h-100">
            <div class="col-xl-6">
                <div class="form-input-content">
                    <div class="card login-form mb-0">
                        <div class="card-body pt-5">
                            <a class="text-center" href="/"> <h4>通讯录管理系统</h4></a>
                            <form class="mt-5 mb-5 login-input" action="{% url 'users:login' %}" method="post">
                                {% if msg %} <div class="alert alert-warning">{{ msg }}</div> {% endif %}
                                 {% csrf_token %}
                                <div class="form-group">
                                    {{ active_forms.email.label }}{{ active_forms.email }}
                                </div>
                                <div class="form-group">
                                    {{ active_forms.captcha.errors }}
                                    {{ active_forms.captcha.label }}
                                    {{ active_forms.captcha }}
                                </div>
                                <button class="btn login-form__btn submit w-100">立即激活</button>
                            </form>
                            <div class="box">
                            <span style="float:left;">已有账号！ <a href="{% url 'users:login' %}" class="text-primary">返回登陆</a></span>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block custom_foot_js %}
    <script src="{% static 'js/base/common.min.js' %}"></script>
    <script src="{% static 'js/base/custom.min.js' %}"></script>
    <script src="{% static 'js/base/settings.js' %}"></script>
    <script src="{% static 'js/base/gleek.js' %}"></script>
    <script src="{% static 'js/base/styleSwitcher.js' %}"></script>
{% endblock %}