{% load static %}

{% block custom_head_css %}
    <link  rel="stylesheet" href="{% static 'css/base/style.css' %}">
    <style>
      body {
        text-align: center;
        padding: 40px 0;
        background: #EBF0F5;
      }
        h1 {
          color: darkorange;
          font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
          font-weight: 900;
          font-size: 40px;
          margin-bottom: 10px;
        }
        p {
          color: #404F5E;
          font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
          font-size:20px;
          margin: 0;
        }
      i {
        color: #9ABC66;
        font-size: 100px;
        line-height: 200px;
        margin-left:-15px;
      }
      .card {
        background: white;
        padding: 60px;
        border-radius: 4px;
        box-shadow: 0 2px 3px #C8D0D8;
        display: inline-block;
        margin: 0 auto;
      }
    </style>
{% endblock %}

{% block content %}
    <div class="login-form-bg h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="form-input-content">
                        <div class="card login-form mb-0">
                            <div class="card-body pt-5">
                                <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
                                    <i class="checkmark">⚠️</i>
                                </div>
                                    <h1>Warning</h1>
                                <a class="text-center" href="{% url 'api-users:forget-pwd' %}"> <h4 style="color: blue">连接过期，请重新获取</h4></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_foot_js %}
     <script src="{% static 'js/base/common.min.js' %}"></script>
    <script src="{% static 'js/base/custom.min.js' %}"></script>
    <script src="{% static 'js/base/settings.js' %}"></script>
{% endblock %}