{% load static %}

{% block custom_head_css %}
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/base/favicon.png' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link  rel="stylesheet" href="{% static 'css/base/style.css' %}">
{% endblock %}

{% block content %}

<div class="login-form-bg h-100">
    <div class="container h-100">
        <div class="row justify-content-center h-100">
            <div class="col-xl-6">
                <div class="form-input-content">
                    <div class="card login-form mb-0">
                        <div class="card-body pt-5">
                            <a class="text-center" href="/"> <h4>注册通讯录管理系统</h4></a>
                            <form class="form-register" action="{% url 'users:register' %}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    {{ register_form.username.label }}{{ register_form.username }}
                                    <span style="color: red" id="username_error">{{ register_form.username.errors }}</span>
                                </div>
                                <div class="form-group">
                                    {{ register_form.realname.label }}{{ register_form.realname }}
                                    <span style="color: red">{{ register_form.realname.errors }}</span>
                                </div>
                                <div class="form-group">
                                    {{ register_form.sex.label }}{{ register_form.sex }}
                                    <span style="color: red">{{ register_form.sex.errors }}</span>
                                </div>
                                <div class="form-group">
                                    {{ register_form.email.label }}{{ register_form.email }}
                                    <span style="color: red">{{ register_form.email.errors }}</span>
                                </div>
                                <div class="form-group">
                                    {{ register_form.mobile.label }}{{ register_form.mobile }}
                                    <span style="color: red">{{ register_form.mobile.errors }}</span>
                                </div>
                                <div class="form-group">
                                    {{ register_form.password1.label }}{{ register_form.password1 }}
                                    <span style="color: red">{{ register_form.password1.errors }}</span>
                                </div>
                                <div class="form-group">
                                    {{ register_form.password2.label }}{{ register_form.password2 }}
                                    <span style="color: red">{{ register_form.password2.errors }}</span>
                                </div>
                                <button type="submit" class="btn login-form__btn submit w-100">注 册</button>
                            </form>
                                <p class="mt-5 login-form__footer">有账号 <a href="{% url 'users:login' %}" class="text-primary" id="loginBtn">立即登陆 </a> </p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_foot_js %}
    <script src="{% static 'js/base/common.min.js' %}"></script>
    <script src="{% static 'js/base/custom.min.js' %}"></script>
    <script src="{% static 'js/base/settings.js' %}"></script>
    <script src="{% static 'js/base/gleek.js' %}"></script>
    <script src="{% static 'js/base/styleSwitcher.js' %}"></script>

    <script>
        $("#loginBtn").on("click", function () {
            var username = $("#username").val();
            var realname = $("#realname").val();
            var sex = $("#sex").val();
            var email = $("#email").val();
            var mobile = $("#mobile").val();
            var password1 = $("#password1").val();
            var password2 = $("#password2").val();
            var csrf_token = $("input[name=csrfmiddlewaretoken]").val();
            $.ajax({
                url: "{% url 'users:register' %}",
                type: 'post',
                dataType: "json",
                data: {
                    username: username,
                    realname: realname,
                    sex: sex,
                    email: email,
                    mobile: mobile,
                    password1: password1,
                    password2: password2,
                    csrfmiddlewaretoken: csrf_token,
                },
                success: function (arg) {
                    console.log(typeof(arg));
                    var arg = JSON.parse(arg)
                    console.log(typeof(arg));
                    if (arg.user){
                        location.href = '{% url 'users:login' %}'
                    } else {
                        $('.error').html(arg.msg).css({'color':'red'})
                    }
                },
            })
        });
    </script>
{% endblock %}
