{% load static %}

<script src="{% static 'js/base/common.min.js' %}"></script>
<script src="{% static 'js/base/custom.min.js' %}"></script>
<script src="{% static 'js/base/settings.js' %}"></script>
<script src="{% static 'js/base/gleek.js' %}"></script>
<script src="{% static 'js/base/styleSwitcher.js' %}"></script>

<!-- Chartjs -->
<script src="{% static 'js/base/Chart.bundle.min.js' %}"></script>
<!-- Circle progress -->
<script src="{% static 'js/base/circle-progress.min.js' %}"></script>
<!-- Datamap -->
<script src="{% static 'js/base/index.js' %}"></script>
<script src="{% static 'js/base/topojson.min.js' %}"></script>
<script src="{% static 'js/base/datamaps.world.min.js' %}"></script>
<!-- Morrisjs -->
<script src="{% static 'js/base/raphael.min.js' %}"></script>
<script src="{% static 'js/base/morris.min.js' %}"></script>
<!-- Pignose Calender -->
<script src="{% static 'js/base/moment.min.js' %}"></script>
<script src="{% static 'js/base/pignose.calendar.min.js' %}"></script>
<!-- ChartistJS -->
<script src="{% static 'js/base/chartist.min.js' %}"></script>
<script src="{% static 'js/base/chartist-plugin-tooltip.min.js' %}"></script>

<script src="{% static 'js/base/dashboard-1.js' %}"></script>