{% load static %}

<ul class="metismenu" id="menu">
    <li class="nav-label">Address book</li>
{#    <li>#}
{#        <a class="has-arrow" aria-expanded="false">#}
{#            <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>#}
{#        </a>#}
{#        <ul aria-expanded="false">#}
{#            <li><a href="/">Home 1</a></li>#}
{#        </ul>#}
{#    </li>#}
    <li>
        <a class="has-arrow" aria-expanded="false">
            <i class="icon-user menu-icon"></i> <span class="nav-text">用户管理</span>
        </a>
        <ul aria-expanded="false">
            <li><a href="{% url 'api-users:user-list' %}">用户列表</a></li>
{#            <li><a href="{% url 'api-users:group-list' %}">用户组</a></li>#}
        </ul>
    </li>
    <li>
        <a class="has-arrow" aria-expanded="false">
            <i class="icon-book-open menu-icon"></i><span class="nav-text">通讯录管理</span>
        </a>
        <ul aria-expanded="false">
            <li><a href="{% url 'api-commbook:contact-list' %}">联系人列表</a></li>
            <li><a href="{% url 'api-commbook:comgroup-list' %}">联系人组</a></li>
        </ul>
    </li>
</ul>