.outer {
    width: 100%;
 }

.box {
    width: 27%;
    margin-left: 35px;
    margin-top: 8px;
    display: inline-block;
    color: #000000;
}
.font1{
    font-weight:bold;
    color: #000000;
}

p {
    font-family: Arial,Verdana,Sans-seri;
    width: 307px;
    word-spacing:15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break:break-all;
    text-decoration: none;
}

p:hover{
    height: auto;
    word-break:break-all;
    white-space: pre-wrap;
    text-decoration: none;
}

